 @media (max-width:1355px) {
  .div {
    background-size: contain;
  }
 }
 
 

.color-navbar {
  background: #65998f;
  background: linear-gradient(90deg,rgba(101, 153, 143, 1) 0%, rgba(10, 86, 194, 1) 100%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}
.btns{
  color: hsl(101, 88%, 23%);
  width: 200px;
  border-radius: 20px;
}
.titulo{
  color: rgb(124, 70, 8);
}
.sub{
  color: #b37707;
}
.margen-superior-main{
  margin-top: 60px;
}